<div fxLayout="row wrap" *ngIf="animeList.length > 0">
  <mat-card fxFlex.xs="80" fxFlexOffset.xs="10"
            fxFlex.gt-xs="20" fxFlexOffset.gt-xs="4"
            *ngFor="let anime of animeList">
    <mat-card-header>
      <mat-card-title>{{ anime.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="anime.cover" [alt]="anime.title">
    <mat-card-content>
      <p>Next episode on <b>{{ anime.date | date: "EEEE" }}</b> at <b>{{ anime.date | date: "HH:mm" }}</b></p>
      <p>
        <span *ngIf="anime.remainingDays > 0"><b>{{ anime.remainingDays }}</b> days, </span>
        <span *ngIf="anime.remainingDays > 0 || anime.remainingHours > 0"><b>{{ anime.remainingHours }}</b> hours, </span>
        <span *ngIf="anime.remainingDays > 0 || anime.remainingHours > 0 || anime.remainingMinutes > 0"><b>{{ anime.remainingMinutes }}</b> mins, </span>
        <span><b>{{ anime.remainingSeconds }}</b> secs</span>
      </p>
    </mat-card-content>
  </mat-card>
</div>
